@model ProdutoModel

<div class="text-center">
    <h1 class="display-4">Comprar Produto</h1>
</div>
   

        <figure class="figure">
          <img src="~/Legumes.jpg" width="300" height="300" >
          <figcaption class="figure-caption">Legumes</figcaption>
        </figure>

<a role="button" class="btn btn-primary" asp-controller="Carrinho" asp-action="Entrar">Adicionar ao Carrinho</a>
<a class="btn btn-secondary" asp-controller="Home" asp-action="EntrarFeira" role="button"> Voltar </a>

            
