@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<p> Sem permissão para aceder a esta funcionalidade, <a asp-controller="Home" asp-action="Index"> clique aqui para voltar para a página inicial </a> </p>