@{
    ViewData["Title"] = "Lista de Feiras ";

}

<div class="text-center">

    <h1> Listagem de Feiras </h1>

    <table class="table" id="table-feiras">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Feira</th>
        <th scope="col">Feirante</th>
        <th scope="col">Produtos em Stock</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td></td>
        <td>
            <div class="btn-group" role="group">
                <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="EntrarFeira"> Entrar</a>
            </div>
        </td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
        <td></td>
        <td>
            <div class="btn-group" role="group">
                <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="EntrarFeira"> Entrar</a>
            </div>
        </td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
        <td></td>
        <td>
            <div class="btn-group" role="group">
                <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="EntrarFeira"> Entrar</a>
            </div>
        </td>
        </tr>
    </tbody>
    </table>
</div>
